<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} — Fabric.js 中文版</title>
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/ads.css">
    <link rel="stylesheet" href="/article_assets/bootstrap.css">
    <script src="../js/master.js"></script>
    <script src="../lib/fabric.js"></script>
  </head>
  <body>
    {% include header2.html %}
    <div id="bd-wrapper">
      {{ content }}
    </div>
    <div style="text-align: center; font-size: 1.5rem">
      <a target="_blank" href=https://github.com/alpacachen/fabricjs.com/blob/zh-cn/{{ page.path }}>由于本人精力有限，希望你在github上帮助我翻译这篇文章，提PR</a>
    </div>
  </body>
</html>
